# C++ / CMake
/build/
*.exe
*.o
*.obj
*.pdb
*.ilk

# Python
/venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# PyInstaller
/dist/
/dist_final/

# IDEs
.vscode/

# Project specific results/temp files
schedule.ics
exp.html

# OS specific
.DS_Store
Thumbs.db
